.navbar {
    columns: 12 16px;
    column-gap: 10px;
    justify-content: center;
    padding-top: 10px;
}

.logo {
    display: flex;
    align-items:center;
}

.texto {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 17.5%;
}

.cart-widget {
    margin-top: 5px;
}